body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#perfil img {
    width: 200px;
    margin: 40px auto 20px;
}

#links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #058bf8;
    background-size: 400%;
    color: #fff;
    border: none;
    margin-bottom: 5px;
    cursor: pointer;
    width: 50%;
}

.button:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
    font-size: 14px;
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
        82.3deg,
        rgb(5, 5, 5) 10.8%,
        rgb(14, 14, 14) 94.3%
    );
    transition: all 0.475s;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#social-icons {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;
    display: flex;
    gap: 10px;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #0a0a0a;
    border-radius: 50%;
    color: white;
    font-size: 29px;
    transition: background-color 0.3s ease-in-out;
}

.social-icon:hover {
    background-color: #058bf8;
}
